@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/user-info/user-info.css);
@import url(../blocks/button/button.css);
@import url(../blocks/places-list/places-list.css);
@import url(../blocks/place-card/place-card.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/user-info/__button/edit__button.css);

body {
  background-color: #000;
}
.popup__bg-image {
  max-width: 80vw;
  max-height: 80vh;

}

.popup__image {
 position: relative;
}

.error-massage {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  margin-bottom: 15px;
  margin-top: 4px;

}

.error-massage_hidden {
  display: none;
}